body {
    margin: 0px;
}

.container {
    height: 100vh;
}

.overlay {
    /* Height & width depends on how you want to reveal the overlay (see JS below) */    
    height: 100%;
    width: 100%;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    background-color: rgb(255,255,255); /* Black fallback color */
    background-color: rgba(255,255,255, 0.97); /* Black w/opacity */
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

h2 {
    font-family: 'GFS Neohellenic', sans-serif;
    font-weight: 700;
    display: inline;
    color: white;
    text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.65);
    font-size: 96px;
    font-size: 25vw;
}

h3 {
    color: white;
    font-family: 'Lato', sans-serif;
    margin-top: 0px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.65);
    font-size: 48px;
    font-size: 3vw;
}

@media screen and (max-width: 925px) {
    h2 {
        font-size: 40vw;
    }
    h3 {
        font-size: 5vw;
    }
}


button {
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
    display: inline-block;
    height: 36px;
    padding: 0 26px;
    margin-top: 6px;
    margin-bottom: 6px;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    text-align: center;
    line-height: 36px;
    vertical-align: middle;
    white-space: nowrap;
    font-size: 14px;
    letter-spacing: .03em;
    position: relative;
    overflow: hidden;
}

#reRoll {
    color: #FFF;
    background-color: #f55a4e;
    margin-right: 12px;
}

#close-info {
    color: #FFF;
    background-color: #41EB7E;
    margin-right: 12px;
}

#share {
    color: #FFF;
    background-color: #2196F3;
    margin-left: 12px;
}

.disabled {
    cursor: not-allowed;
    background-color: gray !important;
}

.description p {
    color: white;
    font-family: 'Lato', sans-serif;
    opacity: .6;
}

.center {
    text-align: center;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.hidden {
    visibility: hidden;
}