body {
    margin: 0px;
}

.container {
    height: 100vh;
}


h2 {
    font-family: 'GFS Neohellenic', sans-serif;
    font-weight: 700;
    display: inline;
    color: white;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.65);
    font-size: 96px;
    font-size: 25vw;
}

h3 {
    margin-top: 0px;
    color: white;
    font-size: 48px;
    font-size: 3vw;
}

.description p {
    color: white;
    font-family: Sans-serif;
    opacity: .6;
}

.center {
    text-align: center;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.hidden {
    visibility: hidden;
}